.gallery{
    padding-top: 3.5rem;
}

img{
    padding-top: 2rem;
    height: 200px;
    width: 300px;
}

img:hover{
    opacity: 0.7;
}


@media(max-width: 1024px){
    img{
        height: 125px;
        width: 175px;
        
    }

    
}